.book-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
}

.book-list__item {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    .book-list__item-head {
        order: 2;
        width: 100%;
        padding: 1.25rem 1.25rem 0;
        > h3 {
            margin: 0;
            > a {
                color: #212529;
                text-decoration: none;
            }
        }
    }
    .book-list__item-fig {
        margin: 0;
        order: 1;
        width: 100%;
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }
        img {
            display: block;
            width: 100%;
        }
    }
    .book-list__item-descr {
        order: 3;
        padding: 1.25rem;
    }
    .book-list__item-footer {
        order: 4;
        margin-top: auto;
        padding: 0 1.25rem 1.25rem;
    }
}