
<ul class="book-list">
    <li class="book-list__item shadow-sm" *ngFor="let book of books | async">
        <header class="book-list__item-head">
            <h3>
                <a [routerLink] ="['/', 'book', book.title]">{{book.title}}</a>
            </h3>
        </header>

        <figure class="book-list__item-fig">
            <a [routerLink] ="['/', 'book', book.title]">
                <img src="{{book.imgStr}}" alt="">
            </a>
        </figure>

        <div class="book-list__item-descr">
            Авторы:
            <span *ngFor="let author of book.authors; last as isLast">
                {{author.firstName}}
                {{author.lastName}}<span *ngIf="!isLast">,<br/></span>
            </span>
        </div>

        <footer class="book-list__item-footer">
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a  class="btn btn-sm btn-outline-secondary" [routerLink] ="['/', 'book', book.title]">view</a>

                    <a  class="btn btn-sm btn-outline-secondary" [routerLink] ="['/', 'book-edit', book.title]">edit</a>

                    <a  class="btn btn-sm btn-outline-secondary" (click)="deleteBook(book.title)">delete</a>
                </div>
                <small class="text-muted">9 mins</small>
            </div>
        </footer>
    </li>
</ul>