
<div class="card" *ngIf="(book | async)">
    <h5 class="card-header">{{(book | async)?.title}}</h5>
    <div class="card-body">
        <p *ngIf="(book | async)?.imgStr">
            <img src="{{(book | async)?.imgStr}}" alt="">
        </p>

        <p *ngIf="(book | async)?.pages"  class="card-text"><b>Страниц</b>: {{(book | async)?.pages}}</p>
        <p *ngIf="(book | async)?.authors" class="card-text"><b>Авторы</b>:
            <span *ngFor="let author of (book | async)?.authors; last as isLast">
                {{author.firstName}}
                {{author.lastName}}<span *ngIf="!isLast">,</span>
            </span>
        </p>
        <p *ngIf="(book | async)?.label"  class="card-text"><b>Издательство</b>: {{(book | async)?.label}}</p>
        <p *ngIf="(book | async)?.published"  class="card-text"><b>Опубликовано</b>: {{(book | async)?.published}}</p>
        <p *ngIf="(book | async)?.isbn"  class="card-text"><b>ISBN</b>: {{(book | async)?.isbn}}</p>
        <p *ngIf="(book | async)?.editionDate"  class="card-text"><b>Дата выхода в тираж</b>: {{(book | async)?.editionDate}}</p>
    </div>
</div>