<div class="card">
    <div class="card-header">
        {{ edit ? "Редактировать Книгу!" : "Добавить Книгу!"}}
    </div>

    <div class="card-body">
        <form novalidate
              (ngSubmit)="save()"
              [formGroup]="bookForm">

            <div class="form-group row mb-2">

                <label class="col-md-2 col-form-label" for="title">Заголовок</label>

                <div class="col-md-8">
                    <input class="form-control"
                            id="title"
                            type="text"
                            placeholder="Заголовок (обязательно)"
                            formControlName="title"
                            />

                    <app-control-messages [control]="f['title']"></app-control-messages>

                </div>
            </div>


            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                       >Изображение</label>
                <div class="col-md-8">
                    <input class="form-control form-control_height_auto"
                           type="file"
                           accept="image/*"
                           placeholder="Загрузите изображение (необязательно)"
                           name="img"
                           (change)="handleLoadLocalFile($event)"
                    />
                </div>
                <div class="invisible" style="height: 1px; overflow: hidden; max-width: 250px;">
                    <img style="" #fakeImg src="" class="img-fluid"  />
                    <canvas style="width: 100%" #fakeCanvas></canvas>
                </div>
                <!--<img *ngIf="edit" style="width: 100px; height: auto;" src="{{book.imgStr}}" alt="">-->

            </div>

            <div formArrayName="authors"
                 *ngFor="let author of authors.controls; let i=index">

                <div [formGroupName]="i">
                    <div class="form-group row mb-2">
                        <label class="col-md-2 col-form-label"
                               attr.for="{{'firstName' + i}}">Имя</label>
                        <div class="col-md-8">
                            <input class="form-control"
                                   id="{{'firstName' + i}}"
                                   type="text"
                                   placeholder="Имя (обязательно)"
                                   formControlName="firstName">

                            <app-control-messages [control]="f['authors'].controls[i].controls.firstName"></app-control-messages>
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label class="col-md-2 col-form-label"
                               attr.for="{{'lastName' + i}}">Фамилия</label>
                        <div class="col-md-8">
                            <input class="form-control"
                                   id="{{'lastName' + i}}"
                                   type="text"
                                   placeholder="Фамилия (необязательно)"
                                   formControlName="lastName">

                            <app-control-messages [control]="f['authors'].controls[i].controls.lastName"></app-control-messages>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="col-md-4">
                    <button class="btn btn-outline-primary"
                            type="button"
                            [title]="authors.valid ? 'Добавить автора' : 'Невозможно дабавить'"
                            [disabled]="!authors.valid"
                            (click)="addAuthor()">
                        Добавить автора
                    </button>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="pages">Количество страниц</label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="pages"
                           type="text"
                           placeholder="Количество страниц (обязательно)"
                           formControlName="pages"
                           pattern="[\d]*"
                    />
                    <app-control-messages patternText="Допустимо использовать только цифры"
                                          [control]="f['pages']"></app-control-messages>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="label">Название издательства</label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="label"
                           type="text"
                           placeholder="Название издательства"
                           formControlName="label"
                    />
                    <app-control-messages [control]="f['label']"></app-control-messages>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="published">Год публикации</label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="published"
                           type="text"
                           placeholder="Год публикации"
                           formControlName="published"
                           pattern="[\d]{4}"
                    />
                    <app-control-messages
                            patternText="Введите корректный год."
                            [control]="f['published']"></app-control-messages>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="editionDate">Дата выхода в тираж</label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="editionDate"
                           type="text"
                           placeholder="Дата выхода в тираж"
                           formControlName="editionDate"
                           pattern="\d{2}[.]\d{2}[.]\d{4}"
                    />
                    <app-control-messages
                            patternText="Введите корректную дату."
                            [control]="f['editionDate']"></app-control-messages>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="isbn">ISBN</label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="isbn"
                           type="text"
                           placeholder="978-5-17-108028-0"
                           formControlName="isbn"
                           pattern="([0-9]{13}$|(?=(?:[0-9]+[- ]){4})[- 0-9]{17})"
                    />
                    <app-control-messages
                            patternText="Введите корректный ISBN."
                            [control]="f['isbn']"></app-control-messages>
                </div>
            </div>


            <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-4">
                    <button class="btn btn-primary mr-3"
                            type="submit"
                            style="width:140px"
                            [title]="bookForm.valid ? 'Сохраните книгу' : 'Недоступно - форма невалидна'"
                            [disabled]="!bookForm.valid">
                        {{ edit ? "Редактировать" : "Добавить"}}
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
